.row1 {
  width: 100%;
  height: 600px;
  padding: 0px 20px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.row1 h1 {
  position: relative;
  padding-top: 10%;
  font-weight: bold;
  color: white;
}

.paragraph1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: white;
}

.row3 {
  width: 100%;
  height: 300px;
  padding: 0px 20px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
  background-size: cover;
}

.row3 h1 {
  padding-top: 10%;
}

.row4 {
  width: 100%;
  height: 300px;
  margin-right: -20px;
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px;
}

.row5 {
  width: 100%;
  height: auto;
  margin-right: -20px;
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
}

.row6 {
  width: 100%;
  height: auto;
  margin-right: -20px;
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 40px;
}

.row7 {
  width: 100%;
  height: 400px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0px 20px 0px 20px;
  background-size: cover;
  text-align: center;
}

.headerMain {
  position: relative;
}

.whatWeDo {
  margin-top: 20px;
  margin-right: -25px;
  margin-left: -25px;
  position: relative;
}

.whatWeDo h1 {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
::placeholder { 
  color: white;
  
}
.whatWeDo img {
  margin-top: 40px;
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
  padding-top: 10%;
}

.portfolio {
  position: relative;
  width: 60%;
  margin: auto;
  height: 500px;
}


.portfolio h1 {
  margin: 10px;
  font-family: Signika Negative, sans-serif;
  text-align: center;
  font-weight: bold;
}

.portfolio img {
  height: auto;
  width: auto;
  margin: auto;
  display: block;
}

.contactUs {
  margin-top: 20px;
  position: relative;
}

footer {
  height: 150px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 10px;
  position: relative;
}

.footer ul li {
  display: inline-block;
  margin: 5px;
}

.toggleDesignLogo {
  display: none;
  text-align: center;
  font-family: Signika Negative, sans-serif;
}

.toggleDevLogo {
  display: none;
  text-align: center;
  font-family: Signika Negative, sans-serif;
}

.toggleProductLogo {
  display: none;
  text-align: center;
  font-family: Signika Negative, sans-serif;
}

#Design {
  text-align: center;
}

#Develop {
  text-align: center;
}

#Product {
  text-align: center;
}

#inline {
  text-align: center;
}

#headerImg2 {
  padding-top: 15%;
}

h1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.h1whitebg {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.para{
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

.submit {
  float: left;
  border-radius: 2px;
}

#work1Text {
  display: none;
  text-align: center;
  font-family: Signika Negative, sans-serif;
  border-radius: 5px;
}


/* Hover Styling for CSS on images */

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox_background {
	width: 400px;
	height: 250px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
