.home {
  background-image: url("../img/h_img.jpg");
  height: 550px;
  text-align: center;
  padding-top: 15%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
}

.about {
  text-align: center;
  align-content: center;
  align-items: center;
}

.services {
  background-image: url("../img/s_image.jpg");
  text-align: center;
  align-content: center;
  align-items: center;
}

.whatwedo {
  background-color: white;
}
.portfolio {
  background-color: white;
}
.contactus {
  background-image: url("../img/c_image.jpg");
}